@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Science+Gothic:wght@100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-0: #310019;
    --color-1: #4b0b27;
    --color-2: #76285c;
    --color-3: #92315c;
    --color-4: #a66672;
    --color-5: #d7a4ac;
    --color-6: #fedada;
    --color-7: #ffffff;
    --transparent-color-1: rgb(65 12 38 / 40%);
    --transparent-color-2: rgb(160 61 97 / 40%);
    --transparent-color-3: rgb(222 172 242 / 33%);
    --font-1: 'Tourney', sans-serif;
    --font-2: 'Science Gothic', sans-serif;
    --font-3: 'Edu SA Beginner', sans-serif;
}

body {
    background: url(https://images.pexels.com/photos/12009313/pexels-photo-12009313.jpeg) fixed center;
    background-size: cover;
}


/*topbar*/
.container.topbar {
    color: var(--color-6);
    background: var(--color-1);
    border-radius: 15px;
    font-family: var(--font-2);
    font-size: 14px;
    font-weight: 300;
    border: 5px solid var(--color-0);
}

.container.topbar a {
    color: var(--color-5);
    font-weight: 500;
}

.container.topbar a:hover {
    filter: drop-shadow(4px 4px 4px var(--color-4));
    background: transparent;
    color: var(--color-5);
}

/*main*/
.container.main {
    background: none;
    box-shadow: none;
    border: none;
}

/*navbar*/
nav.navbar.navbar-default {
    background: var(--color-1);
    border: 5px solid var(--color-0);
}

nav.navbar.navbar-default a {
    color: var(--color-5);
    font-family: var(--font-2);
    font-size: small;
}

nav.navbar.navbar-default a:hover {
    filter: drop-shadow(4px 4px 4px var(--color-4));
    background: transparent;
    color: var(--color-5);
}

a.navbar-brand.visible-lg.visible-md img {
    filter: saturate(0.9) brightness(75%) hue-rotate(317deg);
}
/*page*/
.col-md-9 {
    background: var(--transparent-color-1);
    min-height: 800px;
    padding-top: 25px;
    font-family: var(--font-3);
    font-size: medium;
}

/*breadcrumb*/
ol.breadcrumb {
    background: var(--color-1);
    border-radius: 10px;
}
ol.breadcrumb a {
    color: var(--color-6);
    font-family: var(--font-2);
    font-size: smaller;
}
ol.breadcrumb a:hover {
    filter: drop-shadow(2px 4px 6px var(--color-6));
}

li.breadcrumb-item.active {
    color: var(--color-5);
    font-size: medium;
    font-weight: 500;
}

input.floatright {
    color: var(--color-5);
    text-shadow: none;
    background: var(--color-3);
    border: 3px solid var(--color-0);
    border-radius: 10px;
}

input.floatright:hover {
    color: var(--color-4);
    text-shadow: none;
    background: var(--transparent-color-2);
    border: 2px solid var(--color-4);
    border-radius: 10px;
    margin: 2px;
}

/*alerts*/
.alert.alert-success {
    color: var(--color-6);
    background: var(--transparent-color-2);
    border: 3px solid var(--transparent-color-3);
}

.alert.alert-success a {
    color: var(--color-7);
}

/*right and left arrow*/
.floatleft img {
    filter: saturate(0.9) brightness(75%) hue-rotate(264deg);
}

.floatright img {
    filter: saturate(0.9) brightness(75%) hue-rotate(264deg);
}

/*cave owner*/
.center {
    color: var(--color-6);
}

.center small {
    color: var(--color-5);
}

/*works with almost all links that have the class .center*/
.center a {
    color: var(--color-5);
}
.center a:hover {
    filter: drop-shadow(2px 4px 6px var(--color-5));
}


/*lion */
.featured-lion {
    background: var(--color-1);
    border: 5px solid var(--color-0);
    border-radius: 20px;
}
.featured-lion a {
    color: var(--color-5) !important;
}
/*Lion background image*/
.lion-image-block img:nth-child(1) {
    content: url(https://static.lioden.com/images/dynamic/backgrounds/thenav.png);
}

/*table pride*/
table#pride {
    color: var(--color-6);
    border: 5px solid var(--color-0);
    background: var(--transparent-color-2);
}

table#pride th {
    background: var(--color-0);
}

table#pride a {
    color: var(--color-5);
}

table#pride a:hover {
    filter: drop-shadow(2px 4px 6px var(--color-5));
}

td.left.b {
    background: var(--color-0);
}

td.right_odd {
    background: var(--transparent-color-1) !important;
}

td.bottom {
    background: var(--color-0) !important;
}

td.bottom select {
    background: var(--color-6);
    color: var(--color-4) !important;
    border: 2px solid var(--color-4);
    border-radius: 5px;
}

td.bottom button {
    background: var(--color-3);
    color: var(--color-5);
    text-shadow: none;
    font-size: smaller;
}

/*cave statistic*/
table.table.auto {
    color: var(--color-5);
    background: var(--transparent-color-1);
}
td.top {
    background: var(--color-0) !important;
    color: var(--color-6) !important;
}

table.table.auto th {
    color: var(--color-6);
    background: var(--color-0);
}

/*Sidebar*/
div#pageSidebar {
    background: var(--color-1);
    border: 5px solid var(--color-0);
    border-top: none;
    color: var(--color-4);
}

.panel {
    background: none !important;
    border: 3px solid var(--color-4) !important;
    box-shadow: none !important;
}

div#pageSidebar a {
    color: var(--color-5);
}

div#pageSidebar h3 {
    color: var(--color-6);
}

/*progress*/
.progress {
    background: var(--transparent-color-3);
    box-shadow: none;
}

.progress-bar {
    background: var(--color-2);
}

.progress div {
    color: var(--color-6) !important;
}

/*other*/
.col-md-12.col-xs-12 input {
    color: var(--color-4);
    background: var(--color-1);
    border: 2px solid var(--color-4) !important;
    text-shadow: none;
}

a.btn.btn-default.button {
    color: var(--color-4);
    background: var(--color-1);
    border: 2px solid var(--color-4) !important;
    text-shadow: none;
}

textarea {
    background: var(--transparent-color-1);
}

/*blocks*/
.container-block-main {
    color: var(--color-6);
    height: 800px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3px;
    font-family: var(--font-2);
    font-size: small;
}

.block-main {
    display: block;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--transparent-color-1);
    border: 5px solid var(--color-0);
    border-radius: 10px;
    text-align: center;
    scrollbar-color: var(--color-4) var(--color-2);
    line-height: 1;
}

.block1-info {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.block2-info {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
}

.block3-info {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.block-main-header font {
    color: var(--color-5) !important;
    font-size: x-large !important;
}

.block-lion-card {
    display: block;
    width: 98%;
    height: auto;
    margin: 2px;
    border: 3px solid var(--color-4);
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
}

.block-lion-card img {
    width: 100%;
    height: auto;
}

.lion-card-name {
    font-size: larger;
}


/*Territory Page*/
.bigBox {
    background: var(--transparent-color-2);
    color: var(--color-6);
    overflow: auto;
    height: 320px;
    width: 46%;
    padding: 20px;
    float: left;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: left;
    border: solid 3px var(--transparent-color-3);
}

.smallBox {
    overflow: auto;
    height: 150px;
    width: 46%;
    padding: 20px;
    float: right;
    margin: 10px;
    border-radius: 3px;
    text-align: left;
    border: solid 3px var(--transparent-color-3);
    background: var(--transparent-color-2);
    color: var(--color-6);
}

#commentBox {
    border: 3px solid var(--transparent-color-3);
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 5px;
    height: 300px;
    overflow: auto;
    color: var(--color-6);
    background: none;
}

a {
    color: var(--color-7) !important;
}

h1 {
    color: var(--color-7);
    font-size: 28px;
}

.text-muted {
    color: var(--color-5);
}

#comment {
    text-align: left;
    width: 85%;
    background-color: var(--transparent-color-2);
    border: 3px solid var(--transparent-color-3);
}

input#comment {
    color: var(--color-6) !important;
}

input#postComment {
    background: var(--color-1);
    border: 3px solid var(--transparent-color-3);
    color: var(--color-6);
    text-decoration: none;
    text-shadow: none;
}

.inner-table .left {
    padding: 6px 8px;
    text-align: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 2px;
    background: var(--color-0);
    color: var(--color-5);
}

.inner-table .right {
    padding: 6px 8px;
    text-align: left;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: var(--color-3);
    color: var(--color-7);
}

.lion-image-block {
    border-radius: 15px;
    border: double 5px var(--color-5);
}

td.right img:nth-child(1) {
    border-radius: 15px;
    border: double 5px var(--color-5);
}

.cave-grid {
    background: var(--color-0);
    border: 3px solid var(--color-0);
    border-radius: 5px;
    max-width: 260px;
    overflow: hidden;
    padding: 0 0 5px 0;
    margin: 0 auto;
    margin-bottom: 15px;
}

.cave-grid img:nth-child(1) {
    content: url(https://images.pexels.com/photos/20622426/pexels-photo-20622426.jpeg);
}

.mound-grid {
    background: var(--color-0);
    border: 1px solid var(--color-0);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    padding: 5px 5px 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.mound-grid {
    background: var(--color-0);
    border: 1px solid var(--color-0);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    padding: 5px 5px 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}

th {
    background: var(--color-0) !important;
}

.table {
    border: 1px solid var(--color-4);
    color: var(--color-5);
}

td.left {
    background: var(--color-0) !important;
}

div .left {
    background: var(--color-1);
    padding: 5px 8px;
    border-radius: 15px;
    border: 3px solid var(--color-3);
    color: var(--color-5);
}

h3 {
    color: var(--color-5);
    font-size: 20px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: var(--transparent-color-1);
    border: solid 3px var(--color-1);
}

select {
    background: var(--transparent-color-1);
    color: var(--color-6);
}

input[type="submit"] {
    color: var(--color-0);
    background: var(--color-6);
    text-shadow: none;
}

.s-chat-sidebar #label_currentChannel {
    background: var(--color-5);
    border: 1px solid var(--color-0);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    min-width: 140px;
    padding: 4px 12px;
    text-shadow: none;
}

#chatMessagePinned.s-chat-message__pinned {
    background: var(--color-5) url(//static.lioden.com/images/layout/sticky.png) no-repeat 10px 6px;
    border-bottom-color: var(--color-7) !important;
    color: var(--color-0);
    font-weight: bold;
}

.s-chat-message {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 6px solid transparent;
    padding: 4px 6px;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: var(--color-2) !important;
    color: var(--color-5);
}

a:link, a:visited, a:active {
    color: var(--color-6);
    text-decoration: none;
    font-weight: bold;
}

.s-chat-message_timestamp {
    color: var(--color-6);
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    right: 6px;
    top: 4px;
}

.s-chat-message_claim {
    background: var(--color-1);
    color: var(--color-5);
}

#fra_chatContainer #txtChatInput {
    border: 2px solid var(--color-5);
    border-radius: 3px;
    height: 26px;
    padding: 2px;
    padding-right: 32px;
    color: var(--color-6);
}

input#btnChatSend {
    color: var(--color-0);
    background: var(--color-5);
    text-shadow: none;
}

/*?credits*/
.breadcrumb::after {
    content: "CSS by Polaris Penumbra (#419566)";
    position: absolute;
    right: 20%;
    z-index: 100;
    color: var(--color-5);
}
