@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --color-1: #d1cbd9ff;
    --color-2: #c2aecaff;
    --color-3: #ca9bbeff;
    --color-4: #efd0ceff;
    --color-5: #ecb1a3ff;
    --color-6: #d9877cff;
    --color-7: #cd696bff;
    --color-8: #b6606cff;

    --tcolor-1: rgba(209, 203, 217, 0.4);
    --tcolor-2: rgba(194, 174, 202, 0.4);
    --tcolor-3: rgba(202, 155, 190, 0.4);
    --tcolor-4: rgba(239, 208, 206, 0.4);
    --tcolor-5: rgba(236, 177, 163, 0.4);
    --tcolor-6: rgba(217, 135, 124, 0.4);
    --tcolor-7: rgba(205, 105, 107, 0.4);
    --tcolor-8: rgba(182, 96, 108, 0.4);
    
    --font-1: "Science Gothic";
    --font-2: "Space Grotesk";
}


/*blocks*/
.container-block-main {
    color: var(--color-6);
    height: 800px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3px;
    font-family: var(--font-2);
    font-size: small;
}

.block-main {
    display: block;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--transparent-color-1);
    border: 5px solid var(--color-0);
    border-radius: 10px;
    text-align: center;
    scrollbar-color: var(--color-4) var(--color-2);
    line-height: 1;
}

.block1-info {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

.block2-info {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
}

.block3-info {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.block-main-header font {
    color: var(--color-5) !important;
    font-size: x-large !important;
}

.block-lion-card {
    display: block;
    width: 98%;
    height: auto;
    margin: 2px;
    border: 3px solid var(--color-4);
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
}

.block-lion-card img {
    width: 100%;
    height: auto;
}

.lion-card-name {
    font-size: larger;
}


/*?credits*/
.breadcrumb::after {
    content: "CSS by Polaris Penumbra (#419566)";
    position: absolute;
    right: 20%;
    z-index: 100;
    color: var(--color-5);
}
